@import 'custom_bootstrap';
/* header*/

header{	
  background-color:white;
  position:fixed;
  width:100%;
  z-index: 1;
  opacity: 0.8;
}
img.logo{
  margin: 1% 0 0.2% 2%;
  float: left;
  width: 30%;
}

p.intro{
  font-family: 'Open Sans';
  font-size: 30px;
  float: left;
  line-height: 28px;
  margin: 1% 0 0 1%;
}
.intro-button{
  float:right;
  margin: -0.2% 1.7% 0 0;
}
button.btn1{
  margin-top: 5%;
  margin-bottom:2%;
  color:white;
  font-family: 'Open Sans';
  font-size: 18px;
  padding: 8px 25px 8px 25px;
  background-color: #44A044;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight:light;
}

/*body*/
a.button{
  vertical-align: bottom;
}

.containter{
  padding-top:7%;
  background-image: url("/img/skyline.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  width: 100%;
}

div.body{
  margin: 2% 10% 45vh 10%;
  text-align: center;
}

p.text{
  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: 900;
}

button.btn{
  color:white;
  font-family: 'Open Sans';
  font-size: 24px;
  padding: 10px 50px 10px 50px;
  background-color: #44A044;
  border-radius: 8px;
  z-index: 0;
}

div.body2{
  margin: 10% 5% 0 5%;
}

div.why{
  background-color: #487CBE;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-width: 1px;
}

h1.unravel{
  font-family: 'Open Sans';
  font-size: 53px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

p.info{
  font-family: 'Open Sans';
  color: white;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: left;
  line-height: 40px;
  margin: 1% 9% 0 9%;
}
div.speech{
  margin: 3% 12% 0 9%;
}

img.dev{
  border: 2px;
  width:50%;
}
p.dev{
  font-family: 'Open Sans';
  font-size: 14px;
}

/* media queries*/
@media screen and (max-width: 1100px) {
  h1.unravel{
    font-family: 'Open Sans';
    font-size: 55px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 900px) {

  div.body{
    margin: 2% 10% 30vh 10%;
    text-align: center;
  }
  button.btn1{
    margin-top: 3%;
    color:white;
    font-family: 'Open Sans';
    font-size: 15px;
    padding:4px 10px 4px 10px,;
    background-color: #44A044;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight:100;
  }

  button.btn{
    margin-top: 15%;
    color:white;
    font-family: 'Open Sans';
    font-size: 24px;
    padding:4px 10px 4px 10px;
    background-color: #44A044;
    border-radius: 8px;
  }
  .containter{
    padding-top:7%;
    background-image: url("/img/skyline.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
  }

  p.text{
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 900;
  }

  h1.unravel{
    font-family: 'Open Sans';
    font-size: 43px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 42px;
    text-align: center;
    color: white;
  }

  p.info{
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: left;
    line-height: 32px;
    margin: 8vh 9% 0 9%;
  }
  img.dev{
    border: 2px;
    width:40%;
  }

}

@media screen and (max-width: 700px) {
  div.body{
    margin: 0 10% 46vh 10%;
    text-align: center;
  }
  button.btn1{
    margin-top: 3%;
    color:white;
    font-family: 'Open Sans';
    font-size: 14px;
    padding:0 5px 0 5px;
    background-color: #44A044;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight:100;
  }

  button.btn{
    margin-top: 15%;
    color:white;
    font-family: 'Open Sans';
    font-size: 20px;
    padding: 2px 8px 2px 8px;
    background-color: #44A044;
    border-radius: 8px;
  }
  .containter{
    padding-top:7%;
    background-image: url("/img/skyline.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
  }

  p.text{
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 900;
  }

  h1.unravel{
    font-family: 'Open Sans';
    font-size: 37px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
  }

  p.info{
    font-family: 'Open Sans';
    color: white;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: left;
    line-height: 32px;
    margin: 0 9% 10vh 9%;
  }

}

@media screen and (max-width: 450px) {
  .intro-button{
    float:right;
    margin: -0.2% 5% 0 0;
  }

  div.body{
    margin: 5% 10% 40vh 10%;
    text-align: center;
  }
  button.btn1{
    margin-top: 2%;
    margin-bottom:2%;
    color:white;
    font-family: 'Open Sans';
    font-size: 12px;
    padding:0;
    background-color: #44A044;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight:100;
  }

  button.btn{
    margin-top: 15%;
    color:white;
    font-family: 'Open Sans';
    font-size: 16px;
    padding:0;
    background-color: #44A044;
    border-radius: 8px;
  }
  .containter{
    padding-top:7%;
    background-image: url("/img/skyline.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
  }

  p.text{
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 900;
  }

  h1.unravel{
    font-family: 'Open Sans';
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    color: white;
    margin-bottom: 5%;
  }

  p.info{
    font-family: 'Open Sans';
    color: white;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: left;
    line-height: 32px;
    margin: 5vh 9% 0 9%;
  }

}
